*{  
    margin: 0;
    padding: 0;
    
}
body {
    margin: 10px;
}
header {
    background-color: lightgrey;
    font-size: ;
    font-family: sans-serif;
    font-size: 2rem;
    color:white;
    padding:15px 0 ;
    border: 1px solid black;
}

nav {
    background-color: whitesmoke;
    height: 240px;
    float: left;
    padding: 30px;
    border:1px solid black;
}

nav > ul {
    list-style-type: none;
    
    
}



li > a {
    font-size: 1.2em;
    text-decoration: none;
    color:black;
}    
li > a:hover{
    color:magenta;
}

aside{
    font-size: 1rem;
    color:magenta;
    width: 150px;
    height: 300px;   
    float:right;
    border: 1px solid magenta;
}

footer {
    width: 100%;
    background-color: dimgrey;
    float: left;
    font-family:sans-serif ;
    font-size: 0.9em;
    padding-top: 30px;
    color:white;
    
}


footer > p {
    float:left;
}
footer > div {
    
    margin-right: 15px;
    float:right;
}
footer > div > a {
    text-decoration:none;
    color:white;
    
}
footer > div > a:hover {
    font-size: 1.2rem;
    font-family: monospace;
    color: hotpink;
}